*~HEAD
*~HEAD_0
*~tjtwork
*~tjtwork_0
build/*/*/Release
build/*/*/Debug
bin/FFFF.exe
bin/VizServer.dll
binDebug/FFFF.exe
binDebug/VizServer.dll
binRelease/FFFF.exe
binRelease/VizServer.dll
ffplugins/Viz*.dll
ffplugins_loopycam
ffglplugins_loopycam
ffpluginsDebug/Viz*.dll
ffglpluginsDebug/Viz*.dll
ffglpluginsRelease/Viz*.dll
ffglplugins/Viz*.dll
ffglplugins/EmptyA.dll
ffglplugins/AVFFGLTrails.dll
src/PyLoopyCam/presets_*
src/palette
src/oldpalette
src/zlib/contrib
src/pthreads-win32-2.8.0
src/cvblobslib/doc
src/jsonrpc/dist
src/jsonrpc/build
src/oscutil/dist
src/oscutil/build
src/pthreads-w32-2-9-1-release
src/ShaderMaker-1.0.0
src/bonjour
src/freeglut-2.6.0
src/opencv
html/polymer-tutorial
html/palette
patches
recording
vstplugins
vs2010/ipch
*.debug
*.tlog
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
patches/alchemy
*~
patches/kontakt
patches/bidule
patches/touchdesigner
vstplugins
*.msi
*.sdf
*.opensdf
*.ipch
*.tlog
*.idb
bin/pd
*.lastbuildstate
*.unsuccessfulbuild
*.exp
*.manifest
*.res
log/debug.txt
log/*.debug
vs2012/winsocktest
other_all
other.7z
other.zip
*.swo
*.swp
*.swp
*.pyc
ffglplugins_resolume
config/params_orig
other/Box2d_Contributions
